@charset "utf-8";

.mbadgecon {
	margin: 0 auto;
}

.mbadges img {
    width: 10vw;
    margin-top: 10px;
}

@media (max-width: 319px) {
    .mbadges img {
      width: 10vw;
  }
  }

@media (min-width: 320px) and (max-width: 767px) {
  .mbadges img {
    width: 10vw;
}
}

@media (min-width: 768px) and (max-width: 1023px) {
  .mbadges img {
    width: 6vw;
}
}

@media (min-width: 1024px) {
  .mbadges img {
    width: 5vw;
}
}