@charset "utf-8";

.myedit-container {
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 767px) {
	.myedit-container {
		width: 100vw;
	}
}


@media (min-width: 768px) and (max-width: 1023px) {
	.myedit-container {
		width: 70vw;
	};
}


@media (min-width: 1024px) {
	.myedit-container {
		width: 40vw;
	}
}
