@charset "utf-8";

.modal-res {
    margin: 0 auto;
    width: 100vw;
}

.modal-card {
    margin: 0 auto;
}

.mffimg img {
    width: 100vw;
    height: 100vw;
}

@media (min-width: 320px) and (max-width: 767px) {
	.modal-res {
        margin: 0px;
        width: 100vw;
    }

    .mffimg img {
        width: 100vw;
        height: 100vw;
    }

    .mimage-slider button {
        height: 100vw;
    }

    .overlay {
        visibility: hidden;
    }

    .modal-card {
        width: 100vw;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
	.modal-res {
        width: 70vw;
    }

    .mffimg img {
        width: 70vw;
        height: 70vw;
    }

    .mimage-slider button {
        height: 70vw;
    }
    .modal-card {
        width: 70vw;
    }

}

@media (min-width: 1024px) {
	.modal-res {
        width: 40vw;
    }

    .mffimg img {
        width: 40vw;
        height: 40vw;
    }

    .mimage-slider button {
        height: 40vw;
    }
    .modal-card {
        width: 40vw;
    }

}